<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlToExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlToExcel.Properties.Settings>
            <setting name="SourceConnectionString" serializeAs="String">
                <value>Server=192.168.168.28;database=kgm_gclabeling_dbSync;User ID=sa;Password=kgm123!@#;TrustServerCertificate=true;</value>
            </setting>
            <setting name="TargetConnectionString" serializeAs="String">
                <value>Server=192.168.168.28;database=kgm_gclabeling_dbSync;User ID=sa;Password=kgm123!@#;TrustServerCertificate=true;</value>
            </setting>
        </SqlToExcel.Properties.Settings>
    </userSettings>
</configuration>